<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body id="home_body">
    <div class="jumbotron" id="home_jumbotron">
      <h1 class="display-4" id="welcome">Welcome to Alpha Blog!</h1>
      <p class="lead">This is an application where you can create simple articles containing
         title and description, add categories to those articles and be able to edit or delete your own.</p>
      <hr class="my-4">
      <p>If you don't have an account join us now!</p>
      <a class="btn btn-lg my_btn" href="#" role="button" >Sign Up</a>
    </div>
  </body>
</html>
