// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

@import 'bootstrap/dist/css/bootstrap';
.navbar {
  background-color: rgb(86, 61, 124);
  border-radius: 12px;
  opacity: 0.9
}
#logo {
  font-weight: bold;
  color: #fff
}
#home_body {
  background-image: asset-url("h.jpg");
  background-size: cover;


}
#home_jumbotron {
  margin: auto;
  margin-top: 15%;
  width: 70%;
  opacity: 0.85;
}

.my_btn {
  border-color: rgb(86, 61, 124);
  color: rgb(86, 61, 124);

}
.my_btn:hover {
  background-color: #f9bc06;
  color: #000;
}
.my_active_btn {
  background-color: rgb(86, 61, 124);
  color: #fff;

}
.my_active_btn:hover {
  background-color: #ffdb4d;
  color: #000;
}
#login {
  border-color: #fff;
  color: #fff;

}
#login:hover {
  background-color: #f9bc06;
  color: rgb(86, 61, 124);
}
.footer {
  color: #bfbfbf;
  padding-top: 250px;
  text-align: center;
}
#welcome {
  color: rgb(86, 61, 124);
}
#create {
  color: rgb(86, 61, 124);
  background-color: #f2f2f2;
  border-color: #330066;
  border-style: solid;
  border-width: 1px;
  margin: auto;
  margin-top: 30px;
  padding-top: 20px;
  border-radius: 15px;
  width: 70%
}
#alert_body {
  margin: auto;
  width: 70%
}
.head {
  color: rgb(86, 61, 124);
  font-family: "Segoe UI", Arial, sans-serif;
  margin-top: 40px;
  margin-bottom: 20px;
}

.white-text {
  color: #fff;
}
.white-text:hover {
  color: #f9bc06;
}
.article-body {
  background-color: #f2f2f2;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  padding: 20px;

}

#description {
  color: rgb(86, 61, 124);
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 20px;
}

.round-btn {
  border-radius: 20px;
  font-size: 13px;
}
.active-round-btn:hover {
  background-color: #330066;
  color: #fff;
}
.article-btns {
  border-top: 1px solid #eaeaea;
  padding-top: 10px;
}
