<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Ahmed Ashraf", "https://www.linkedin.com/in/ahmed-ashraf-92b06912a/", class: "text-white" %></small>
  </div>
</footer>
